.enemy-bulb {
  display: block;
  position: absolute;
  border: rgb(157, 255, 0) 20px solid;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  top: 1%;
  background-color: gray;
  animation-name: example;
  animation-duration: 4s;
}
