.enemy-bulb {
  position: absolute;
  border: rgb(199, 67, 67) 5px solid;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  top: 300px;
  left: 300px;
  background-color: rgb(255, 0, 0);
  transition: 0.1s;
}
