.energy-element {
  position: relative;
  border: rgb(43, 255, 0) 5px solid;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  background-color: rgb(251, 255, 0);
  transform: translate3d(500px, 500px, 0);
  transition: 0.3s;
}
