.github {
  z-index: 50;
  user-select: none;
  position: absolute;
  left: 500px;
  top: 20px;
  border-radius: 100px;
  border: green 5px solid;
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(180, 218, 14);
  color: rgb(4, 0, 255);
  cursor: pointer;
}
