<div #container class="container">
  <app-element-counter></app-element-counter>

  <div *ngIf="!click || nothingToCollect" class="startGame">
    <h3 *ngIf="nothingToCollect">nothing to Collect</h3>
    <h3 *ngIf="nothingToCollect">
      go to
      <h5 class="mapButton" (click)="mapClick()">map</h5>
    </h3>
    <h1 *ngIf="!nothingToCollect">
      to start the game click on the screen and catch the red ball
    </h1>
  </div>
  <app-player></app-player>
  <app-power-element #energyComponent></app-power-element>
  <app-enemy></app-enemy>
</div>
